*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container{
    display: grid;
    /* height:100vh; */
    width: 80%;
    grid-template-rows: 0.8fr 1fr 1fr ;
    grid-template-columns:max-content repeat(3,1fr);
    color: rgb(0, 0, 0);
    grid-template-areas: "box1 box2 box3"
                        "box4 box5 box6"
                        "box7 box8 box9";
    grid-gap:.2rem;
    /* float: right; */
    margin-left: 45%;
    margin-top: 20px
  }
  .box1{
    /* background-color: rgb(234, 235, 226); */
    grid-area: box1;
  }
  .box2{
    /* background-color: aqua; */
    grid-area: box2;

  }
  .box3{
    grid-area: box3;
    /* background-color: rgb(154, 177, 126); */
  }
  .box4{
    /* background-color: rgb(89, 33, 219); */
    grid-area: box4;

  }
  .box5{
    /* background-color: rgb(245, 245, 62); */
    grid-area: box5;

  }
  .box6{
    /* background-color: rgb(57, 14, 150); */
    grid-area: box6;

  }
  .box7{
    /* background-color: rgb(119, 255, 0); */
    grid-area: box7;

  }
  .box8{
    /* background-color: rgb(172, 6, 58); */
    grid-area: box8;

  }
  .box9{
    /* background-color: rgb(0, 60, 255); */
    grid-area: box9;

  }

  .content_img{
    height: 50px;
    width: 50px;
  }
  h1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  span{
    font-size: 15px;
    /* font-weight: bold; */
    padding-bottom: 20px;
    line-height: 30px;
    
  }
  .image_container{
    display: grid;
    
    grid-template-columns: 0.8fr;
    width: 100px;
    margin-top: 40px;
    margin-bottom: -40px;
   
    margin-left: 30%;
    
    
    
}
.image_container1{
    background-color: rgb(241, 241, 249);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
 
}
.product_img{
   
    height: 40px;
    width: 40px;
    
}
.product_name{
    font-size: 1rem;
    margin-top: 10px;
}

.image_content{
  text-align: center;
}